@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: transparent !important;
  font-weight: 600 !important;
  color: #ff00d3 !important;
}
.active:active,
.active:focus,
.active:focus-visible,
.active:focus-within,
.active:hover {
  background-color: transparent !important;
  font-weight: 600 !important;
  color: #ef00d3 !important;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ef00d3 !important;
}

.noLink:active,
.noLink:focus,
.noLink:focus-visible,
.noLink:focus-within,
.noLink:hover {
  background-color: transparent !important;
  color: #000 !important;
}

.cartLink:active,
.cartLink:focus,
.cartLink:focus-visible,
.cartLink:focus-within,
.cartLink:hover {
  background-color: #ff00d3 !important;
  color: white;
}

.navLinknavLink:active,
.navLink:focus,
.navLink:focus-visible,
.navLink:focus-within,
.navLink:hover {
  background-color: transparent !important;
  color: #ff00d3 !important;
}
.navLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.navLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff00d3;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navLink:hover::before,
.navLink:active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active {
  background-color: transparent !important;
  font-weight: 600 !important;
  color: #ff00d3 !important;
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff00d3 !important;
  transform: scaleX(1); /* Always visible */
  transform-origin: bottom left;
  transition: none; /* No animation */
}
